body {
    margin: 0px;
    font-family: arial;
    overflow-y: hidden;
}

#header {
    background-color: rgb(4, 4, 173);
    position: relative;
    height: 70px;
    padding: 20px 20px 20px;
    border-top: 10px solid rgb(30, 30, 224);
    border-bottom: 10px solid rgb(30, 30, 224);
}

.logo {
    position: relative;
}

.heroes {
    position: absolute;
    margin-left: 100px;
    font-size: 30px;
    color: white;
    margin-top: -50px;
    font-weight: bold;
}

#main-container {
    height: calc (100vh - 162px);
}

#main-left{
    width: 305px;
    height: 550px;
    float: left;
    overflow: auto;
    border-right: 1px solid grey;
}

.Teams {
    margin-left: 20px;
    color: rgb(4, 4, 173);
    margin-top: -10px;
}

#teams {
    height: 100px;
    width: 275px;
    margin-left: -20px;
    margin-top: -5px;
}

.teamimage {
    float: left;
}

.teamnames {
    list-style: none;
    color: white;
    float: left;
    margin-left: 5px;
    margin-top: 30px;
}

.teamnames li a {
    text-decoration: none;
    color: black;
}

.teamnames li a:hover {
    color: rgb(4, 4, 173);
    font-size: 105%;
}

#main-center{
    width: 460px;
    height: 550px;
    float: left;
    overflow: auto;
}

#teammember {
    height: 200px;
    width: 390px;
    border: 2px solid grey;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(245, 239, 239);
}

.picture {
    float: left;
}

.text {
    margin-left: 110px;
}

.name {
    margin-top: 20px;
    margin-left: -40px;
}

.name li {
    list-style: none;
}

.name li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.name li a:hover {
    color: rgb(4, 4, 173);
}

.description {
    margin-top: 0px;
}

#main-right{
    width: 590px;
    height: 550px;
    float: left;
    overflow: auto;
}

#characterright {
    height: 500px;
    width: 540px;
    margin-left: 15px;
    margin-top: 15px;
}

.character {
    height: 470px;
    width: 330px;
    margin-left: 220px;
    border: 2px solid white;
}

.characterimage {
    float: left;
    opacity: 0.6;
}

.img-circle {
    border-radius: 50%;
} 

.characterimageround {
   float: right;
   margin-top: 10px;
   margin-right: 10px;
}

.nameright {
    font-weight: bold;
    margin-top: 70px;
    margin-left: 10px;
}

.descriptionright {
    margin-top: 90px;
    margin-left: 10px;
}

.propertiesright {
    margin-top: 30px;
    margin-left: 10px;
}